:root {
    --white: hsl(0, 0%, 100%);
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);
    --attribution-color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--slate300);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 320px;
    height: 499px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
    filter: drop-shadow(5px 10px 10px #00000011);
}

.qt-code {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin-bottom: 10px;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    color: var(--slate900);
    text-align: center;
}

p {
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: var(--slate500);
    text-align: center;
    margin-top: -2px;
}

.attribution {
    font-size: 11px;
    height: 2.5rem;
    margin-top: auto;
    align-content: center;
}

.attribution a {
    color: var(--attribution-color);
}
